type ItemType = {
    title: string
    value: any
}

type  SelectPropsType = {
    value?: any,
    onChange: (value: any) => void
    items: ItemType[]
}

export const Select = (props: SelectPropsType) => {

    const valueSelect = props.items.find(el => el.value === props.value);

    return (
        <div>
            <h3>{valueSelect && valueSelect.title}</h3>
            <select>
                {props.items.map(el =>
                    <option key={el.value} value={props.value}>{el.title}</option>
                )}
            </select>
        </div>
    )
}
